{% extends 'base.html' %}

{% block title %}
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>{{ project_details.name }}</h1>
            <p>{{ project_details.description }}</p>
            <h2>Tasks</h2>
            <p>
                <a href = "{% url 'create_task' %}">Create a new task</a>
            </p>
            <table>
                <thead>
                    <th>Name</th>
                    <th>Assignee</th>
                    <th>Start date</th>
                    <th>Due date</th>
                    <th>Is completed</th>
                </thead>
                {% if project_details.tasks.all %}
                    <tbody>
                        {% for detail in project_details.tasks.all %}
                            <tr>
                                <td>{{ detail.name }}</td>
                                <td>
                                    {{ detail.assignee }}
                                    <td>{{ detail.start_date }}</td>
                                    <td>{{ detail.due_date }}</td>
                                    <td>{{ detail.is_completed|yesno }}</td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <p>This project has no tasks</p>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </main>
    {% endblock content %}
